.col-wrapper {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.group:before,
.group:after {
  content:"";
  display: table;
}

.group:after {
  clear:both;
}

.group {
  zoom: 1; /* For IE 6/7 */
}

/* Two Uneven Columns (for maps page) */
.col-2-of-2 { width: 66.2%; }
.col-1-of-2 { width: 32.2%; }

/* Three Columns (for homepage) */
.col-3 {
  float: left;
  width: 32%;
  margin-right: 1.6%;
}

.last { margin-right: 0; }

/* GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col-3,
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .col-3,
  .col-1-of-2,
  .col-2-of-2 {
    width: 100%;
  }
}

img.map {
  max-height: 100vh;
  display: block;
  margin: auto;
}

img.map-thumb {
  width: 100%;
}
