---
layout: default
title: Maps
category: maps
---

<h1>Licence</h1>
<p>Creative Commons licence, what that means &amp; link</p>

<h1>Maps by Date</h1>
<p class="rss-subscribe">
  subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
</p>

{% for post in site.posts %}
  {% if post.categories contains 'single-map' %}
	<div class="post">
		<h3 class="title"><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h3>
		<p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
		<div class="entry col-wrapper group">
      <div class="col col-1-of-2">
			     <a class="post-link" href="{{ post.url }}">
             <img src="{{ site.url }}/assets/maps/thumbs/{{ post.thumbnail }}"
                  alt="{{page.alt-text}}">
            </a>
      </div>
      <div class="col col-2-of-2">
        <p>{{post.description}}</p>
      </div>
		</div>
	</div>
  {% endif %}
{% endfor %}
