---
layout: default
---

<div class="home">
  <div class="updates">

    <!-- This is where updates or global site notices should go. Edit them in index.md -->
    {{ content }}

    <div class="projects-summary">
      <h1 class="page-heading">Project Showcase</h1>

      <ul class="post-list">
        {% for post in site.categories.showcase %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>

      <p><a class="page-link" href="projects">See more Projects</a></p>

    </div>

    <div class="blog-summary">
      <h1 class="page-heading">Recent Posts</h1>

      <ul class="post-list">
        {% for post in site.categories.blog limit:3 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>

      <p><a class="page-link" href="blog">See more Blog Posts</a></p>

    </div>

    <div class="maps-summary">
      <h1 class="page-heading">Recent Maps</h1>

      <ul class="post-list col-wrapper group">
        {% for post in site.categories.single-map limit:3 %}
          <div {% if forloop.index == 3 %}
                class="col-3 last"
                {% else %}
                class="col-3"
                {% endif %}>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <img src="{{site.url}}/assets/maps/thumbs/{{post.thumbnail}}">
          </div>
        {% endfor %}
      </ul>
    </div>

    <p><a class="page-link" href="maps">See more Maps</a></p>

  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
